*{padding: 0;
margin: 0;
box-sizing: border-box;
scroll-behavior: smooth;
}
a{color:inherit;
text-decoration:none;}
ul,li{list-style:none;}
figure{width: fit-content;
height:fit-content;}
img{display:block;
max-width:100%;}
@font-face {
    font-family:"cjw-g" ;
    src: url(../font/청정원고딕R.ttf);
}
@font-face {
    font-family:"cjw-m" ;
    src: url(../font/청정원명조R.ttf);
}
@font-face {
    font-family:"share" ;
    src: url(../font/나눔손글씨\ 몽돌.ttf );
}
@font-face {
    font-family:"kim" ;
    src: url(../font/KimjungchulScript-Regular.otf);
}
@font-face {
    font-family:"roboto" ;
    src: url(../font/Roboto-Regular.ttf);
}
header{
    width: 100%;
    height: 110px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 5vw;
    /* background-color: pink; */
    color: #fff;
    font-family:"cjw-g";
    position: fixed;
    top: 0;
    z-index: 999;
}
header h1{
    font-size: 2.8rem;
}
header nav{
    display: flex;
    flex-direction: row-reverse;
    font-size: 1.3rem;
}
header nav>span{
    display: block;
    cursor: pointer;
}
header nav ul{
    /* display: none; */

    margin: auto;
    /* background-color: beige; */
    
}
header nav ul li{
    margin-right: 2vw;
    float: left;
}
.top{
    display: none;
    width: 40px;
    height: 40px;
    border:#7B296B 3px solid;
    border-radius: 100%;
    position: fixed;
    right:50px;
    bottom:50px;
    font-family:"roboto" ;
    font-size: 1rem;
    font-weight: 800;
    color: #7B296B;
    background-color: #fff;

}
main{
    width: 100%;
    /* height: 100%; */
    padding:26% 0;
    background-image: url(../img/main1.png);
    background-size: 100%;
    background-repeat: no-repeat;
    position: absolute;
    top:0;
    color:#fff;
}
main h2{
    font-family:"share";
    font-size: 6rem;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform:translate(-50%,-80%);
}
main .srch1{
    width: 270px;
    position: absolute;
    top: 58%;
    left: 50%;
    transform:translateX(-50%);  
    display: flex;
    flex-direction: column;
}
main .srch1 .sbox1{
width: 250px;
}
main input[type="text"]{
 width: 200px;
 height: 45px;
 border: #fff solid 4px;
 border-radius:10px;
 background: transparent;
 outline: none;
 color: #fff;
 font-family:"cjw-g" ;
 font-size: 1.3rem;
}
main span{
    /* width: 45px;
    height: 45px; */
    font-size: 1.5rem;
    margin: auto 10px;
    cursor: pointer;
}
main .srch1 p{
    align-self: flex-end;
    font-family:"cjw-g" ;
    font-size: 1.1rem ;
    margin-top:0.5vw;
    padding-right: 4rem;

}

#mapbox{
    width: 100%;
    position: relative;
    margin-top:60vw;
    text-align: center;
    padding: 0 5vw;
    font-family:"cjw-g" ;
    /* background-color: sandybrown; */
}
#mapbox .srch2{
    width: 100%;
    display: flex;
    flex-direction: column;
   
}
#mapbox .srch2 .sbox2{
    width: 250px;
    align-self:flex-end;
}
#mapbox input[type="text"]{
    width: 200px;
 height: 45px;
 border: #000 solid 3px;
 border-radius:10px; 
 background: transparent;
 outline: none;
 font-family:"cjw-g" ;
 font-size: 1.5rem;
}
#mapbox span{
    font-size: 1.5rem;
    font-weight: 900;
    margin: auto 10px;
    cursor: pointer;
}
#mapbox .srch2 p{
    align-self: flex-end;
    padding-right: 3rem;
    margin-top:0.5vw;
    font-size: 1.1rem ;
}
#mapbox .mapText{
    width: 80%;
    height: fit-content;
    /* overflow: hidden; */
    position: absolute;
    left: 10%;
    top: 25%;
    /* background-color: slateblue; */
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}
#mapbox .mapText .right{
   width: 50%;
   position: relative;
   /* background-color: pink; */
}
#mapbox .mapText .left{
   width: 50%;
   position: relative;
   /* background-color: slategray; */
}
#mapbox .mapText .right .t1{
    position: absolute;
    top:0;
    right: 15vh ;
    /* right: 30px ; */
}
#mapbox .mapText .right .t2{
    position: absolute;
    /* top:100px; */
    top:11vh;
    right: 23vh ;
    /* right: 200px ; */
}
#mapbox .mapText .right .t3{
    position: absolute;
    /* top:230px; */
    top:24vh;
    left: 42vh;
    /* left: 360px; */

}
#mapbox .mapText .right .t4{
    position: absolute;
    /* top: 350px; */
    top: 38vh;
    left: 25vh;
    /* left: 220px; */
}

#mapbox .mapText .left .t5{
    display: none;
    position: absolute;
    /* top:-20px; */
    top:-2vh;
    right: 20vh ;
    /* right: 180px ; */
}
#mapbox .mapText .left .t6{
    position: absolute;
    /* top:60px; */
    top:6vh;
    right: 35vh ;
    /* right: 350px ; */
}
#mapbox .mapText .left .t7{
    position: absolute;
    /* top:180px; */
    top:18vh;
    right: 45vh;
    /* right: 400px; */

}
#mapbox .mapText .left .t8{
    position: absolute;
    /* top: 300px; */
    top: 30vh;
    right: 35vh;
    /* right: 350px; */
}


#mapbox .mapText .gray p{
    font-size: 1.8rem;
    text-align: left;
    line-height: 60%;     
}
#mapbox .mapText .gray>p:first-child{
    color: #333;
    font-size: 1.2rem;
}
#mapbox .mapText .gray{
    margin-bottom: 40px;
}

#textLine>span{
    display: inline-block;
    width: 100%;
    font-size: 3.4vw;
    /* font-size: 4rem; */
    margin: 180px auto;
    color: #E4DDD4;
    text-align: center;
}

#slide{
    width:90% ;
    margin: auto;
    overflow: hidden;
    /* background-color: beige; */
    display: flex;
}
#slide .itembox{
    width:24.26%;
    overflow: hidden;
    margin:  0 70px;
}

#slide .itembox .text{
    width:100% ;
    height: 160px;
    background-color: rgba(224, 209, 189, 0.8);
    /* background-color: rgb(224, 209, 189); */
    margin-right: 67px;
    font-family:"cjw-m" ;
    padding-top: 1.2vw;
    padding-left: 1.8vw;
}
#slide .itembox .text h3{ 
    line-height: 150%;
}
#slide .itembox .text p{
    font-size: 1.2rem;
    line-height: 100%;
}
.line{
    width: 89.47%;
    /* 1700/1900 * 100 */
    height: 2px;
    background-color: #CABDAC;
    margin: 180px auto;
}
section{
    width: 100%;
    overflow: hidden;
}
section h2{
    color: #7B296B;
    font-family:"roboto" ;
    font-weight: 600;
    font-size:2.5rem ;
    margin-bottom: 35px;
}
section .container .row .col-6{
margin-bottom: 15px;
}
section .container .row .col-6 .imgBox{
    width: 100%;
    height: 332px;
    margin-top: 10px;
}
section .container .row .colbox{
   width:100%;
   height: 321px;
   margin-top: 10px;
    text-align: left;
    padding-top: 1.7rem;
    padding-left: 3rem;
    line-height: 150%;
    font-family:"cjw-g" ;
    font-size: 1.2rem;
    background-color: rgba(224, 194, 152,0.6);
    font-weight: 500;
}

section .container .row .colbox a{
    display: inline-block;
    padding-left: 5rem;
    margin-bottom: 10px;
}
section .container .row .colbox p:nth-of-type(3) span:not(:nth-of-type(1)){
    display:block;
    /* color: cadetblue; */
    padding-left: 3.5rem;
}
section .container .row .colbox p:nth-of-type(4)>span{
    font-size: 1.4rem;
   
}
section .container:nth-of-type(2){
    margin-top: 180px;
}
section .col-4 .notiBox{
    /* width: 353px; */
    width: 97.78%;
    /* (751-390=361)  353/361*100 = 97.78 */
    height: 336px;
    background-color: rgba(202, 189, 172, .8);
    border-radius: 0 152px 0 0 ;
    /* box-shadow:5px 5px 8px rgba(180, 168, 153, 0.9); */
    text-align: left;
    padding-top: 5rem;
    padding-left: 3rem;
    font-family:"cjw-g" ;
    display: none;

}
section .col-4 .notiBox p{
    font-size: 1.2rem;
    margin-top: 1rem;
}
.l2{
    margin-bottom: 0;
}
#signup{
    width: 100%;
    overflow: hidden;
    text-align: center;
    margin: 110px auto;
}
#signup h2{
    color: #7B296B;
    font-family:"roboto" ;
    font-weight: 600;
    font-size:2.5rem ;
}
.emailbox{
    width: 700px;
    display: flex;
    flex-direction: column;
    margin:30px auto;
    font-family:"roboto" ;

}
.emailbox input[type="email"]{
    width: 700px;
    height: 60px;
    margin: 20px 0;
    border: 2px solid rgb(202, 189, 172);
    text-align: center;
    font-size: 1.2rem

}
.emailbox button{
    width: 700px;

    display: block;
    height: 60px;
    border: none;
    background-color:rgb(202, 189, 172);
    font-size: 1.2rem
}
.l3{
    margin-bottom: 100px;
}
footer{
    width: 100%;
    padding: 0 5vw;
    font-family:"cjw-g" ;

}
footer h1{
    font-size: 2.8rem;
    margin-bottom: 50px;
}
footer .sns{
    width: 25vw;
    margin-bottom: 100px ;
    /* background-color: beige; */
    display: flex;
    justify-content: space-between;
    font-size: 1.5rem;
    font-weight: 700;
}
footer .sns .icon{
    width: 15vw;
    /* background-color: sandybrown; */
    display: flex;
    justify-content: space-evenly;
    
}
footer .sns .icon span{
    cursor: pointer;
    font-size:2rem;
}


/* 미디어쿼리 분기점  */
@media screen and (max-width:1199px){
    main h2{
        font-size: 4.2rem;
     
    }
}

@media screen and (max-width:991px){
    header h1{
        font-size:1.8rem ;
    }
    header nav{
        font-size: 1rem;
    }
    main h2{
        font-size: 3.8rem;
    }
}

@media screen and (max-width:767px){
    main h2{
        font-size: 2.4rem;
    transform:translate(-50%,-50%);

    }
    main .srch1{
        display: none;
    }
    
}

@media screen and (max-width:450px){
    header h1{
        font-size:1rem ;
    }
    header nav{
        font-size: 0.8rem;
    }
    
    /* main깨지는디 */


    main h2{
        font-size: 1.8rem;
    transform:translate(-50%,-50%);

    }
}
